<div class="login-container">
<div class="login-form">
    <form >
        <h2>Acesse o Nubank PJ</h2>
        <div>
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required>
        </div>
    
        <div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
              </div>
              <a href="#">Esqueci a senha</a>
              <button type="submit">Acessar</button>
              
        </div>
    </form>
</div>
</div>

<div>
    <footer>
        <a href="#">Não sou cliente</a>
        <br>
        <a href="#">Me roubaram</a>
    </footer>
</div>