.principal{
    padding: 40px;
}

mat-card {
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  mat-card-header {
    background-color: #f1f1f1;
  }
  
  mat-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  mat-card-footer {
    text-align: right;
  }
  
  table {
    width: 100%;
    margin-top: 10px;
  }
  
  mat-paginator {
    margin-top: 10px;
  }
  