<div class="login-container">
  <!-- Lado esquerdo com a imagem -->
  <div class="left-side">
    <img src="./../../assets/nascar-84466_1280.jpg" alt="Imagem de fundo">
  </div>

  <!-- Formulário de login -->
  <div class="login-form">
    <form [formGroup] = "formulario" (onSubmit) = "onSubmit()">
      <div class="teste">
        <h2>Login</h2>
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required >

        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required>

        <button type="submit" class="btn btn-primary" [disabled] = "formulario.invalid">Acessar</button>
      </div>

    </form>
  </div>
</div>

<footer>

</footer>