<div class="login-container">
  <div class="left-side">
    <img src="./../../assets/BG_LOGIN_CLUB_24.15287a11.jpg" alt="Imagem de fundo">
  </div>

  <div class="login-form">
    <form [formGroup]="formulario" (ngSubmit)="enviarForm()">
      <div class="teste">
        <h2>Login</h2>


        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" formControlName="email" required>
        <p *ngIf="formulario.controls['email'].errors?.['required'] && formulario.controls['email'].touched">E-mail é obrigatório</p>
        <p *ngIf="formulario.controls['email'].errors?.['email'] && formulario.controls['email'].touched">E-mail inválido</p>


        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha" maxlength="6" formControlName="senha" required>
        <p *ngIf="formulario.controls['senha'].errors?.['required'] && formulario.controls['senha'].touched">Senha é obrigatória</p>
        <p *ngIf="formulario.controls['senha'].errors?.['minlength']">A senha deve possuir 6 caracteres</p>
        <p>{{ msg }}</p>
        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid" >Acessar</button>
        <br>
        <a [routerLink]="['/home-user/create']">Não tenho cadastro</a>
      </div>
    </form>
  </div>
</div>

<footer>

</footer>
