mat-card-content{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 60px;
}
mat-card{
    width: 1000%;
    max-width: 650px;
    margin: 0 auto;
    background-color: white;
    color: black;
}
mat-form-field {
    width: 100%; 
  }
  
  @media (max-width: 600px) {
    mat-card {
      width: 95%; 
    }
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 16px; 
  }
  body{
    height: 100%;
    background-color: whitesmoke;
    margin: 0;
  }
 